[Unit]
Description=Flask Inventory API
After=network.target

[Service]
User=root
WorkingDirectory=/opt/inventory
ExecStart=/opt/inventory/venv/bin/python app.py
Restart=always

[Install]
WantedBy=multi-user.target
